* {
    margin: 0;
    padding: 0;
}

:root {
    --movieColor: #A9A9A9;
    --pageColor: #9999CC;
}

body {
    background-color: var(--pageColor);
}

.hidden {
    display: none;
}


div.movieObject {
    background-color: var(--movieColor);
    border-style: solid;
    
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    
}

div.peopleObject {
    background-color: var(--movieColor);
    border-style: solid;

    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 1;
}


div.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

div.modalContent {
    width: 80%;
    background-color: #FFFFFF;
    margin: auto;
}

section > div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

ul {
    list-style-position: inside;
}

span.closeModal {
    float: right;
}

body > header > form{
    float: right;
}

body > header > h1 {
    text-align: center;
}